<footer class="footer">
  <small>
    <a href=#>京西商城</a>
    by Lei Liu
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",      about_path %></li>
      <li><%= link_to "Contact",    contact_path %></li>
      <li><a href="http://www.163.com/">News</a></li>
    </ul>
  </nav>
</footer>
